<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Nastavení">
	        <setting label="Login" type="text" id="username" default=""/>
	        <setting label="Heslo" type="text" id="password" option="hidden" enable="!eq(-1,false)" default=""/>
	        <setting label="Nové přihlášení" type="action" action="RunPlugin(plugin://plugin.video.tipsport?action=login)"/>
		<setting type="lsep"/>
	        <setting label="Prohlížeč" type="select" id="browser" values="lokální Google Chrome|Selenium Grid|zadání přes web|načíst ze souboru" default="lokální Google Chrome"/>
	        <setting label="Selenium Grid URL" type="text" id="docker_url" default="http://127.0.0.1:4444/wd/hub"/>
			<setting label="Cesta k souboru s JSESSIONID" type="folder" id="jsession_file_folder"/>
	        <setting label="Export JSESSIONID do souboru" type="action" action="RunPlugin(plugin://plugin.video.tipsport?action=export_jsessionid)"/>
	        <setting label="Verze Tipsportu" type="select" id="tipsport_version" values="CZ|SK" default="CZ"/>
				</category>
</settings>
